/data/*
/__pycache__/*
*.gz
*.DUMP
*.LIST
*.README
.DS_Store
/out/*

3dPlots/3clusters_birch_Ia.png
3dPlots/3clusters_birch_Ibc.PNG
3dPlots/3clusters_birch_II.png
3dPlots/5clusters_birch_II.png
3dPlots/5clusters_birch_II_2.png
3dPlots/5clusters_birch_II_3.png
3dPlots/5clusters_birch_II_top.png
3dPlots/7clusters_birch_Ia.png
3dPlots/7clusters_birch_Ia_2.png
